#ifndef SMARTGUARD_CONFIG_H
#define SMARTGUARD_CONFIG_H

#define SIGNALR_HOST "192.168.1.100"
#define SIGNALR_PORT 5000
#define BACKEND_SYNC_URL "http://192.168.1.100:5001/upload"
#define BACKEND_BASE_URL "http://192.168.1.100:5000"

#endif
