RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_VHOST=/
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672

REDIS_PASSWORD=change-me
REDIS_PORT=6379
REDIS_MAX_MEMORY=256mb

SQLSERVER_PORT=1433
SQLSERVER_SA_PASSWORD=ChangeThisStrongPassword!123
SQLSERVER_EDITION=Developer
SQLSERVER_DB=SmartGuardDb

